$white: #faf1d7;

$accent-light-primary: #faa190;
$accent-light-hover: #fc8173;

$accent-dark-primary: #1e3347;
$accent-dark-hover: #5c5a67;

$breakpoint-mobile: 480px;

$header-max-width: 1800px;
$content-max-width-large: 1280px;
$content-max-width-small: 900px;

$border-radius: 12px;

$opacity-transition: opacity 0.15s ease-in-out;
$color-transition: color 0.15s ease-in-out;
