@use '../utilities/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: variables.$white;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: variables.$breakpoint-mobile) {
    background-size: unset;
    background-image: url('../assets/background-mobile.png');
    background-position: 75% 50%;
  }
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-content {
  align-self: center;

  max-width: 1920px;
  padding: 20px;
  width: 100%;

  @media (max-width: variables.$breakpoint-mobile) {
    padding: 16px 12px;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  // Browsers inherently add a small margin around the body, which we don't want.
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  margin: 0;

  line-height: 1.1;
  font-size: 72px;

  @media (max-width: variables.$breakpoint-mobile) {
    font-size: 48px;
  }
}

h2 {
  margin: 0;

  line-height: 1.1;
  font-size: 42px;

  @media (max-width: variables.$breakpoint-mobile) {
    font-size: 28px;
  }
}

button {
  all: unset;
}

ul {
  list-style-type: none;
}
